@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  /* font-family: "Raleway", sans-serif; */
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: black;
}

/* header   css*/
header{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/header.jpg') center center no-repeat fixed;
  padding: 60px 30px 50px 30px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
header .container .headerInner{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header .container .headerInner h2{
  margin: 0;
}
header .container .headerInner p span{
  color: orange;
}
/* header end  css*/


/* banner  css*/
.banner{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/banner.jpg') center center no-repeat fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 110px 15px ;
  color: #fff;
}
.banner .banner_inner{
  text-align: center;
  width: 100%;
}
.banner button{
  padding: 10px 20px;
  text-transform: uppercase;
  background-color: orange;
  border: 0;
  border-radius: 6px;
  transition: 0.5s;
}
.banner button a{
  text-decoration: none;
  color: #fff;
}
.banner button a:hover{
  color: orange ;
}
.banner button:hover{
  border: 2px solid orange;
  background-color: rgba(0, 0, 0, 0.5);
}
/* banner end css */

/* bout us css */
.aboutUs_inner{
  padding: 50px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.aboutUs_inner .left img{
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}
.aboutUs_inner .right{
  text-align: center;
}
.aboutUs_inner .right p{
  text-align: justify;
  line-height: 1.5;
  color: rgb(121, 120, 120);
}
/* bout us end css */

/* usServices css */
.usServices_inner{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  gap: 10px;
  padding: 10px 15px 50px 15px;
}
.usServices_inner .usServices_card{ 
  width: 100%;
  padding: 0 10px 0 0;
  display: grid;
  grid-template-columns: 40% 1fr;
  gap: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  align-items: center;
}
.usServices_inner .usServices_card .usServices_img{
  height: 80px;
}
.usServices_inner .usServices_card .usServices_img img{
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.usServices_inner .usServices_card .usServices_text a{
  font-size: 14px;
  font-weight: bolder;
  transition: 0.3s;
}
.usServices_inner .usServices_card .usServices_text a:hover{
  color: orange;
}
/* usServices end css */

/* lieu location css */
.WhereLocation{
  position: relative;
  padding: 0 15px 50px 15px;
}
.WhereLocation hr{
  display: none;
}
.WhereLocation .container .innerWhereLocation{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.WhereLocation .container .innerWhereLocation .whereImg img{
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.WhereLocation .container .innerWhereLocation .whereHead{
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 30px;
  background-color: rgba(230, 230, 230, 0.945);
  padding: 0 10px;
  margin-bottom: 5px;
  height: 50px;
}
.WhereLocation .container .innerWhereLocation .whereHead p{
  text-align: center;
}
.WhereLocation .container .innerWhereLocation .wherefoot{
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 30px;
  background-color: rgba(230, 230, 230, 0.945);
  padding: 0 10px;
  margin-bottom: 5px;
  height: 50px;
}
.WhereLocation .container .innerWhereLocation .wherefoot p{
  text-align: center;
}

.WhereLocation .container .innerWhereLocation .wherefoot p span{
  font-weight: bolder;
}

/* lieu location  end css */

/* commitAgence css*/
.commitAgence{
  padding: 0 15px 20px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.commitAgence .container .commitAgence_inner .commitAgence_inner_head{
  text-align: justify;
}
.commitAgence .container .commitAgence_inner .commitAgence_inner_img img{
  width: 100%;
  height: auto;
}
/* commitAgence css end*/


/* notre experience css*/
.experinceInner{
  padding: 20px 15px 50px 15px;
  display: grid;
  grid-template-rows: 10% 1fr;
}
.experinceInner .experince_title{
  text-align: center;
}
.experinceInner .experince_icons{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.experinceInner .experince_icons .part_icons{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}
.experinceInner .experince_icons .part_icons h4,
p{
  text-align: center;
}
.experinceInner .experince_icons .part_icons p{
  margin-top: -10px;
}
.experinceInner .experince_icons .part_icons .icon{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 6px;
  width: 40px;
  height: 40px;
  transition: 0.5s;
}
.experinceInner .experince_icons .part_icons:hover .icon{
  background-color: orange;
  color: #fff;
  border: 0rem;
}
/* notre experience css end*/


/* notre MEILLEURS VENTES css */
.best_still{
  width: 100%;
  padding: 20px 15px 50px 15px;
  background-color: black;
  color: #fff;
  border-radius: 10px;
}
.best_still_inner{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.best_still_inner .best_still_head{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.best_still_inner .best_still_head p{
  margin-top: -10px;
}
.best_still_inner .best_still_img{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.best_still_inner .best_still_img .best_img{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}
.best_still_inner .best_still_img .best_img .price_still{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
  width: 100%;
}
.best_still_inner .best_still_img .best_img .price_still p{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(204, 204, 204, 0.74);
  padding: 5px 10px;

}
.best_still_inner .best_still_img .best_img .price_still p span{
  color: orange;
}
.best_still_inner button{
  border: 0;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 10px;
  transition: 00.5s;
}
.best_still_inner button a{
  color: black;
  text-decoration: 0;
  font-weight: bolder;
}
.best_still_inner button:hover{
  background-color: orange;
}
/* notre MEILLEURS VENTES css end*/


/* formulaire de recherche css */
.form_search{
  margin: 30px 0;
  position: relative;
  padding: 20px 15px 0px 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.form_search .form_search_inner{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.form_search .form_search_inner .form_search_head{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.form_search .form_search_inner .form_search_head p{
  font-size: 10px;
  margin-top: -10px;
}
.form_search .form_search_inner form{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: gray;
}
.form_search .form_search_inner form .depart_part,
.route_part{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  margin-bottom: 40px;
}
.form_search .form_search_inner form .depart_part select{
  padding: 8px 20px;
  background-color: #fff;
  border-radius: 6px;
}
.form_search .form_search_inner form .depart_part .time_depart{
  display: flex;
  gap: 20px;
}
.form_search .form_search_inner form .depart_part .time_depart input{
  padding: 8px 30px;
  background-color: #fff;
  border-radius: 6px;
}
.form_search .form_search_inner form .route_part .time_depart{
  display: flex;
  gap: 20px;
}
.form_search .form_search_inner form .route_part .time_depart input{
  padding: 8px 30px;
  background-color: #fff;
  border-radius: 6px;
}
.form_search .form_search_inner form .route_part select{
  padding: 8px 20px;
  background-color: #fff;
  border-radius: 6px;
}
.form_search .form_search_inner form .route_part .userOld{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.form_search .form_search_inner form .route_part .userOld input{
  padding: 8px 10px;
  background-color: #fff;
  border-radius: 6px;
  height: 30px;
  width: 100px;
}
.form_search .form_search_inner .submitButton input{
  padding: 10px 60px;
  background-color: black;
  color: #fff;
  border: 0;
  border-radius: 6px;
  position: absolute;
  left: 18%;
  margin-top: -18px;
}
.form_search .form_search_inner .submitButton input:hover{
  background-color: orange;
}
.form_search .form_search_inner form img{
  display: none;
}
/* formulaire de recherche css end*/

/* footer css */
footer{
  margin: 50px 0 0 0;
  background-color: rgb(58, 58, 58);
}
.footerHead{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  background-color: orange;
  padding: 20px 20px 10px 20px;
}
.footerHead .iconfooter{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border: 4px solid #fff;
  border-radius: 50%;
  color: #fff;
}
.footerHead .footerTitle p{
  font-weight: bolder;
}
.partfooterLogo{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}
.partfooterLogo .footerlogo img{
  width: 200px;
  height: auto;
  margin: 0 0 15px 0;
}
.footerlogoMarque{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.footerlogoMarque button{
  padding: 10px ;
  background-color: transparent;
  margin: 5px;
  border: 1px solid #ccc;
  transition: 0.5s;
}
.footerlogoMarque button a{
  color: #fff;
}
.footerlogoMarque button:hover {
  background-color: orange;
  color: #fff;
}
.footermarque{
  display: flex;
  flex-wrap: wrap;
}
.footermarque button{
  padding: 10px ;
  background-color: transparent;
  margin: 5px;
  border: 1px solid #ccc;
  transition: 0.5s;
}
.footermarque button a{
  color: #fff;
}
.footermarque button:hover {
  background-color: orange;
  color: #fff;
}
.footer_part_contact .contact{
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  color: #fff;
  padding: 0 20px 30px 20px;
}
.footer_part_contact .contact .part_logo img{
  width: 200px;
  height: auto;
  object-fit: cover;
  margin: 20px 0 20px 0;
}
.footer_part_contact .contact .part_text p{
  text-align: center;
  font-size: 14px;
  margin-top: -30px;
}
.footer_part_contact .contact .particons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.footer_part_contact .contact .particons .icon a .fa-brands{
  color: #fff;
}
.footer_part_contact .contact .particons .icon a .fa-brands:hover{
  color: orange;
}


.contact_service{
  padding: 0 20px 30px 20px;
  color: #fff;
  font-size: 14px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}
.contact_service .contact_title{
  font-weight: bolder;
}
.contact_service .contact_home,
.contact_number,
.contact_email,
.contact_internet{
  display: flex;
  gap: 20px;
}
.contact_service .contact_home .fa-home{
  margin-top: 17px;
}
.contact_service .contact_number .fa-phone{
  margin-top: 17px;
}
.contact_service .contact_email .fa-envelope{
  margin-top: 5px;
}
.contact_service .contact_email{
  margin: 0 0 10px 0;
}
.contact_service .contact_internet .fa-globe{
  margin-top: 5px;
}
.contact_service .contact_email a{
  color: #fff;
  transition: 0.5s;
}
.contact_service .contact_email a:hover{
  color: orange;
}
.contact_service .contact_internet a{
  color: #fff;
  transition: 0.5s;
}
.contact_service .contact_internet a:hover{
  color: orange;
}
.contact_service .fa{
  color: orange;
}


.liens_utiles{
  padding: 0 20px 30px 20px;
  color: #fff;
  font-size: 14px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}
.liens_utiles .lien p{
  margin: 8px;
}
.liens_utiles .liens_title{
  font-weight: bolder;
}
.liens_utiles .fa{
  color: orange;
}
.liens_utiles .lien {
  display: flex;
  align-items: center;
  justify-content: start;
}
.liens_utiles .lien i{
  margin: 0 10px;
}
.liens_utiles .lien a{
  color: #fff;
}
.liens_utiles .lien a:hover{
  color: orange;
  transition: 0.5s;
}
.liens_utiles .lien_img{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0 0 50px;
}
.liens_utiles .lien_img img{
  width: 200px;
  height: auto;
  object-fit: cover;
}


.nos_agences{
  padding: 0 20px 30px 20px;
  color: #fff;
  font-size: 14px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}
.nos_agences .agence_title{
  font-weight: bolder;
}
.nos_agences .agence p{
  margin: 8px;
}
.nos_agences .fa{
  color: orange;
}
.nos_agences .agence {
  display: flex;
  align-items: center;
  justify-content: start;
}
.nos_agences .agence i{
  margin: 0 10px;
}
.nos_agences .agence a{
  color: #fff;
}
.nos_agences .agence a:hover{
  color: orange;
  transition: 0.5s;
}

.down_footer{
  background-color: black;
  padding: 10px;
  color: #fff;
  font-size: 12px;
}
.down_footer p span{
  color: orange;
}

/* footer css end */


/* Style standard */
.container {
  width: 100%;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
  /* banner  css*/
  .banner{
    padding: 100px 40px;
  }
  .banner .banner_inner .title_banner{
    font-size: 1.5rem;
  }
  /* banner end css */
    
  /* bout us css */
  .aboutUs_inner .left img{
    width: 600px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }
  /* bout us end css */

    
  /* usServices css */
  .usServices_inner{
    justify-content: start;
  }
  .usServices_inner .usServices_card{ 
    width: 49%;
    display: grid;
    grid-template-columns: 40% 1fr;
    gap: 10px;
    align-items: center;
  }
  .usServices_inner .usServices_card .usServices_img{
    height: 80px;
  }
  /* usServices end css */

  /* lieu location css */
  .WhereLocation hr{
    display: block;
    border: 0;
    height: 1px;
    background-color: rgba(230, 230, 230, 0.945);
    width: 100%;
  }
  .WhereLocation{
    position: relative;
    padding: 30px 15px;
  }
  .WhereLocation .container .innerWhereLocation .whereImg img{
    margin: 30px 0;
  }
  .WhereLocation .container .innerWhereLocation .whereHead{
    position: absolute;
    top: -18px;
  }

  .WhereLocation .container .innerWhereLocation .wherefoot{
    position: absolute;
    bottom: -18px;
  }
  /* lieu location  end css */

    /* commitAgence css*/
  .commitAgence .container .commitAgence_inner .commitAgence_inner_head{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .commitAgence .container .commitAgence_inner .commitAgence_inner_head p{
    width: 80%;
    text-align: center;
  }
  /* commitAgence css end*/

  
/* notre MEILLEURS VENTES css */
.best_still_inner .best_still_img .best_img .price_still p{
  width: 50%;
}
/* notre MEILLEURS VENTES css end */


/* formulaire de recherche css */
.form_search{
  border: 0;
}
.form_search .form_search_inner form{
  display: grid;
  grid-template-columns: 48% 48%;
  gap: 20px;
  align-items: start;
  justify-content: start;
}
.form_search .form_search_inner .submitButton input{
  position: absolute;
  left: 0;
  top: 240px;
}
.form_search .form_search_inner form img{
  display: none;
}
/* formulaire de recherche css end*/

/* footer css */
.liens_utiles .lien_img{
  margin: 30px 0 0 220px;
}
.footer_part_contact .contact .part_logo{
  margin: 30px 0 0 180px;
}
.footer_part_contact .contact .particons{
  margin: 0px 0 0 200px;
}
/* footer css end */
}


@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  /* banner  css*/
  .banner{
    padding: 100px 40px;
  }
  .banner .banner_inner .title_banner{
    font-size: 1.5rem;
  }
  /* banner end css */

  /* bout us css */
  .aboutUs_inner{
    padding: 50px 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .aboutUs_inner .left{
    height: 93%;
  }
  .aboutUs_inner .left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .aboutUs_inner .right{
    text-align: start;
  }
  .aboutUs_inner .right p{
    text-align: justify;
    line-height: 1.5;
  }
  /* bout us end css */

  /* usServices css */
  .usServices_inner{
     justify-content: start;
  }
  .usServices_inner .usServices_card{ 
    width: 49%;
    display: grid;
    grid-template-columns: 35% 1fr;
    align-items: center;
  }
  .usServices_inner .usServices_card .usServices_img img{
    width: 100%;
   }
  /* usServices end css */

  /* lieu location css */
  .WhereLocation .container .innerWhereLocation .whereImg img{
    width: 400px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }
  /* lieu location  end css */


  /* notre experience css*/
.experinceInner .experince_icons{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.experinceInner .experince_icons .part_icons{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
  height: 200px;
  font-size: 14px;
}
/* notre experience css end*/

/* formulaire de recherche css */
.form_search .form_search_inner form .depart_part .time_depart input{
  padding: 8px 50px;
}
.form_search .form_search_inner form .route_part .time_depart input{
  padding: 8px 50px;
  background-color: #fff;
  border-radius: 6px;
}
.form_search .form_search_inner form img{
  display: none;
}
/* formulaire de recherche css end*/


/* footer css */
.footer_part_contact{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 20px;
}
.footer_part_contact .contact .part_logo{
  margin: auto;
}
.footer_part_contact .contact .particons{
  margin: auto;
}
.liens_utiles .lien_img{
  margin: auto;
}
.liens_utiles .lien_img img{
  margin-top: 20px;
}
/* footer css end */
}


@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
  /* banner  css*/
  .banner{
    padding: 150px 60px;
  }
  .banner .banner_inner .title_banner{
    font-size: 1.7rem;
  }
  /* banner end css */

    /* bout us css */
    .aboutUs_inner{
      gap: 40px;
    }
    .aboutUs_inner .right p{
      line-height: 1.7;
    }
    /* bout us end css */

  /* usServices css */
 .usServices_inner .usServices_card{ 
   width: 32.5%;
   display: grid;
   grid-template-columns: 35% 1fr;
   gap: 15px;
   align-items: center;
 }
 .usServices_inner .usServices_card .usServices_img img{
  width: 100%;
 }
 /* usServices end css */

 /* commitAgence css*/
.commitAgence .container .commitAgence_inner .commitAgence_inner_img img{
  width: 100%;
  height: auto;
}
/* commitAgence css end*/


/* notre MEILLEURS VENTES css */

.best_still_inner .best_still_img{
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 20px;
}
/* notre MEILLEURS VENTES css end*/

/* formulaire de recherche css */
#imgSearch{
  display: block;
}
.form_search .form_search_inner form{
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 30% 30% 1fr;
  color: gray;
}
.form_search .form_search_inner form img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
.form_search .form_search_inner .submitButton input{
  padding: 10px 60px;
  background-color: black;
  color: #fff;
  border: 0;
  border-radius: 6px;
  position: absolute;
  left: 0;
  top: 150px;
}
/* formulaire de recherche css end*/


/* footer css */
.inner{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
/* footer css end */
}


@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
  /* banner  css*/
  .banner{
    padding: 200px 100px;
  }
  .banner .banner_inner .title_banner{
    font-size: 2rem;
  }
  /* banner end css */

    /* bout us css */
    .aboutUs_inner .right p{
      line-height: 1.9;
    }
    /* bout us end css */

  /* usServices css */
 .usServices_inner .usServices_card{ 
   width: 32.5%;
   display: grid;
   grid-template-columns: 40% 1fr;
   gap: 15px;
   align-items: center;
 }
 .usServices_inner .usServices_card .usServices_img img{
  width: 100%;
 }
 .usServices_inner .usServices_card .usServices_text p{
  font-size: 1rem;
}
 /* usServices end css */

 /* notre MEILLEURS VENTES css */

.best_still_inner .best_still_img{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  }
  .best_still_inner .best_still_img .best_img{
    width: 100%;
  }
  
  /* notre MEILLEURS VENTES css end*/

  
/* footer css */
.footer_part_contact{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
/* footer css end */
}


@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
  
  /* bout us css */
  .aboutUs_inner .right p{
    line-height: 2;
  }
  .aboutUs_inner .left{
    height: 90%;
  }
  /* bout us end css */

/* usServices css */
 .usServices_inner .usServices_card{ 
  align-items: center;
}
.usServices_inner .usServices_card .usServices_text p{
  font-size: 1.1rem;
}
/* usServices end css */

}

/* Header style */

/* Footer style */
