@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
}

$primary-color: #000;
body {
  font-family: "Montserrat", sans-serif;
  /* font-family: "Raleway", sans-serif; */
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  margin: 0;
}
ul,
li {
  padding: 0;
  list-style: none;
}
/* Style standard */
.container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
.btn {
  padding: 20px 18px;
}
/* Header style */
.header {
  position: relative;
  .header-content {
    .top-header {
      @media (min-width: 1141px) {
        display: flex;
      }
      display: grid;
      grid-template-columns: repeat(1, minmax(0, 1fr));

      padding: 20px 0;
      align-items: center;
      .logo {
        display: flex;
        @media (min-width: 1141px) {
          margin-right: 20px;
          flex: 0 1;
        }
        a {
          width: 250px;
        }
        justify-content: center;
      }
      &-info {
        flex: 1;
        @media (min-width: 728px) {
          display: grid;
          justify-content: center;
        }
        display: none;
        font-size: 0.8rem;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 20px;
      }
      gap: 20px;
      .top-item {
        display: flex;
        align-items: center;
        gap: 10px;
        i {
          font-size: 2rem;
        }
        h3 {
          margin: 0;
          font-size: 0.7rem;
          @media (min-width: 1024px) {
            font-size: 0.8rem;
          }
          span {
          }
        }
      }
      span {
        font-weight: 300;
      }
      .btn-reservation {
        background-color: $primary-color;
        border-radius: 0.4rem;
        font-size: 0.6rem;
        @media (min-width: 1024px) {
          font-size: 1rem;
        }
        text-transform: uppercase;
        color: #fff;
        height: 40px;
        display: flex;
        align-items: center;
        margin-left: 20px;
        justify-content: center;
      }
    }
  }
  .navigation {
    position: relative;
    .content {
      position: absolute;
      bottom: -45px;
      @media (min-width: 768px) {
        bottom: -45px;
      }

      z-index: 999;
      right: 20px;
      left: 20px;
      background-color: $primary-color;
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      border: 2px solid #fff;
      padding: 0 12px;
      height: 60px;

      .menu-nav {
        display: none;
        font-size: 0.7rem;
        &.active {
          display: flex;
          flex-direction: column;
          position: absolute;
          background-color: $primary-color;
          left: 0;
          right: 0;
          top: 50px;
          padding: 12px;
          gap: 20px;
          .menu-item {
            flex: 1;
          }
        }
        @media (min-width: 768px) {
          display: flex;
          gap: 20px;
        }
        @media (min-width: 1024px) {
          font-size: 1rem;
        }
        .menu-item {
          color: #fff;
          &:hover {
            transition: all 0.5s;
            color: rgb(255, 7, 7);
          }
        }
      }
      .menu-bar {
        cursor: pointer;
        padding: 12px;
        @media (min-width: 768px) {
          display: none;
        }
        span {
          position: relative;
          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: -6px;
            background-color: #fff;
          }
          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: -6px;
            background-color: #fff;
          }
          display: block;
          height: 2px;
          width: 30px;
          background-color: #fff;
        }
      }
      .connexion {
        color: #fff;
        display: flex;
        gap: 10px;
        font-size: 0.7rem;

        @media (min-width: 1024px) {
          font-size: 1rem;
        }
      }
    }
  }
}

.banner {
  position: relative;
  height: 550px;
  background-image: url("../images/pexels-s-von-hoerst-2676096.jpg");
  background-size: cover;
  background-position: center;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #02000068;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 550px;
    color: #fff;
    h1 {
      text-align: center;
      font-size: 1.9rem;
      font-weight: 600;

      line-height: 1.1;
      margin-bottom: 0;
      @media (min-width: 1024px) {
        font-size: 2.5rem;
      }
    }
    h3 {
      font-weight: 400;
    }
    .btn {
      background-color: orange;
      border-radius: 0.3rem;
      font-size: 0.7rem;
      @media (min-width: 1024px) {
        font-size: 1rem;
      }
      text-transform: uppercase;
      color: #fff;
      height: 40px;
      display: flex;
      align-items: center;
      margin-left: 20px;
      justify-content: center;
    }
  }
}

/* bout us css */
.aboutUs_inner {
  padding: 50px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.aboutUs_inner .left img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}
.aboutUs_inner .right {
  text-align: center;
}
.aboutUs_inner .right p {
  text-align: justify;
  line-height: 1.5;
  color: rgb(121, 120, 120);
}
/* bout us end css */

/* usServices css */
.usServices_inner {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  gap: 10px;
  padding: 10px 15px 50px 15px;
}
.usServices_inner .usServices_card {
  width: 100%;
  padding: 0 10px 0 0;
  display: grid;
  grid-template-columns: 40% 1fr;
  gap: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  align-items: center;
}
.usServices_inner .usServices_card .usServices_img {
  height: 80px;
}
.usServices_inner .usServices_card .usServices_img img {
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.usServices_inner .usServices_card .usServices_text a {
  font-size: 14px;
  font-weight: bolder;
  transition: 0.3s;
}
.usServices_inner .usServices_card .usServices_text a:hover {
  color: orange;
}
/* usServices end css */

/* lieu location css */
.WhereLocation {
  position: relative;
  padding: 0 15px 50px 15px;
}
.WhereLocation hr {
  display: none;
}
.WhereLocation .container .innerWhereLocation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.WhereLocation .container .innerWhereLocation .whereImg img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.WhereLocation .container .innerWhereLocation .whereHead {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 30px;
  background-color: rgba(230, 230, 230, 0.945);
  padding: 0 10px;
  margin-bottom: 5px;
  height: 50px;
}
.WhereLocation .container .innerWhereLocation .whereHead p {
  text-align: center;
}
.WhereLocation .container .innerWhereLocation .wherefoot {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 30px;
  background-color: rgba(230, 230, 230, 0.945);
  padding: 0 10px;
  margin-bottom: 5px;
  height: 50px;
}
.WhereLocation .container .innerWhereLocation .wherefoot p {
  text-align: center;
}

.WhereLocation .container .innerWhereLocation .wherefoot p span {
  font-weight: bolder;
}

/* lieu location  end css */

/* commitAgence css*/
.commitAgence {
  padding: 0 15px 20px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.commitAgence .container .commitAgence_inner .commitAgence_inner_head {
  text-align: justify;
}
.commitAgence .container .commitAgence_inner .commitAgence_inner_img img {
  width: 100%;
  height: auto;
}
/* commitAgence css end*/

/* notre experience css*/
.experinceInner {
  padding: 20px 15px 50px 15px;
  display: grid;
  grid-template-rows: 10% 1fr;
}
.experinceInner .experince_title {
  text-align: center;
}
.experinceInner .experince_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.experinceInner .experince_icons .part_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}
.experinceInner .experince_icons .part_icons h4,
p {
  text-align: center;
}
.experinceInner .experince_icons .part_icons p {
  margin-top: -10px;
}
.experinceInner .experince_icons .part_icons .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 6px;
  width: 40px;
  height: 40px;
  transition: 0.5s;
}
.experinceInner .experince_icons .part_icons:hover .icon {
  background-color: orange;
  color: #fff;
  border: 0rem;
}
/* notre experience css end*/

/* notre MEILLEURS VENTES css */
.best_still {
  width: 100%;
  padding: 20px 15px 50px 15px;
  background-color: black;
  color: #fff;
  border-radius: 10px;
}
.best_still_inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.best_still_inner .best_still_head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.best_still_inner .best_still_head p {
  margin-top: -10px;
}
.best_still_inner .best_still_img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.best_still_inner .best_still_img .best_img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}
.best_still_inner .best_still_img .best_img .price_still {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
  width: 100%;
}
.best_still_inner .best_still_img .best_img .price_still p {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(204, 204, 204, 0.74);
  padding: 5px 10px;
}
.best_still_inner .best_still_img .best_img .price_still p span {
  color: orange;
}
.best_still_inner button {
  border: 0;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 10px;
  transition: 00.5s;
}
.best_still_inner button a {
  color: black;
  text-decoration: 0;
  font-weight: bolder;
}
.best_still_inner button:hover {
  background-color: orange;
}
/* notre MEILLEURS VENTES css end*/

/* formulaire de recherche css */
.form_search {
  margin: 30px 0;
  position: relative;
  padding: 20px 15px 0px 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.form_search .form_search_inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.form_search .form_search_inner .form_search_head {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.form_search .form_search_inner .form_search_head p {
  font-size: 10px;
  margin-top: -10px;
}
.form_search .form_search_inner form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: gray;
}
.form_search .form_search_inner form .depart_part,
.route_part {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  margin-bottom: 40px;
}
.form_search .form_search_inner form .depart_part select {
  padding: 8px 20px;
  background-color: #fff;
  border-radius: 6px;
}
.form_search .form_search_inner form .depart_part .time_depart {
  display: flex;
  gap: 20px;
}
.form_search .form_search_inner form .depart_part .time_depart input {
  padding: 8px 30px;
  background-color: #fff;
  border-radius: 6px;
}
.form_search .form_search_inner form .route_part .time_depart {
  display: flex;
  gap: 20px;
}
.form_search .form_search_inner form .route_part .time_depart input {
  padding: 8px 30px;
  background-color: #fff;
  border-radius: 6px;
}
.form_search .form_search_inner form .route_part select {
  padding: 8px 20px;
  background-color: #fff;
  border-radius: 6px;
}
.form_search .form_search_inner form .route_part .userOld {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.form_search .form_search_inner form .route_part .userOld input {
  padding: 8px 10px;
  background-color: #fff;
  border-radius: 6px;
  height: 30px;
  width: 100px;
}
.form_search .form_search_inner .submitButton input {
  padding: 10px 60px;
  background-color: black;
  color: #fff;
  border: 0;
  border-radius: 6px;
  position: absolute;
  left: 18%;
  margin-top: -18px;
}
.form_search .form_search_inner .submitButton input:hover {
  background-color: orange;
}
.form_search .form_search_inner form img {
  display: none;
}
/* formulaire de recherche css end*/

/* Style standard */

@media (min-width: 640px) {
  /* bout us css */
  .aboutUs_inner .left img {
    width: 600px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }
  /* bout us end css */

  /* usServices css */
  .usServices_inner {
    justify-content: start;
  }
  .usServices_inner .usServices_card {
    width: 49%;
    display: grid;
    grid-template-columns: 40% 1fr;
    gap: 10px;
    align-items: center;
  }
  .usServices_inner .usServices_card .usServices_img {
    height: 80px;
  }
  /* usServices end css */

  /* lieu location css */
  .WhereLocation hr {
    display: block;
    border: 0;
    height: 1px;
    background-color: rgba(230, 230, 230, 0.945);
    width: 100%;
  }
  .WhereLocation {
    position: relative;
    padding: 30px 15px;
  }
  .WhereLocation .container .innerWhereLocation .whereImg img {
    margin: 30px 0;
  }
  .WhereLocation .container .innerWhereLocation .whereHead {
    position: absolute;
    top: -18px;
  }

  .WhereLocation .container .innerWhereLocation .wherefoot {
    position: absolute;
    bottom: -18px;
  }
  /* lieu location  end css */

  /* commitAgence css*/
  .commitAgence .container .commitAgence_inner .commitAgence_inner_head {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .commitAgence .container .commitAgence_inner .commitAgence_inner_head p {
    width: 80%;
    text-align: center;
  }
  /* commitAgence css end*/

  /* notre MEILLEURS VENTES css */
  .best_still_inner .best_still_img .best_img .price_still p {
    width: 50%;
  }
  /* notre MEILLEURS VENTES css end */

  /* formulaire de recherche css */
  .form_search {
    border: 0;
  }
  .form_search .form_search_inner form {
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 20px;
    align-items: start;
    justify-content: start;
  }
  .form_search .form_search_inner .submitButton input {
    position: absolute;
    left: 0;
    top: 240px;
  }
  .form_search .form_search_inner form img {
    display: none;
  }
  /* formulaire de recherche css end*/
}

@media (min-width: 768px) {
  /* bout us css */
  .aboutUs_inner {
    padding: 50px 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .aboutUs_inner .left {
    height: 93%;
  }
  .aboutUs_inner .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .aboutUs_inner .right {
    text-align: start;
  }
  .aboutUs_inner .right p {
    text-align: justify;
    line-height: 1.5;
  }
  /* bout us end css */

  /* usServices css */
  .usServices_inner {
    justify-content: start;
  }
  .usServices_inner .usServices_card {
    width: 49%;
    display: grid;
    grid-template-columns: 35% 1fr;
    align-items: center;
  }
  .usServices_inner .usServices_card .usServices_img img {
    width: 100%;
  }
  /* usServices end css */

  /* lieu location css */
  .WhereLocation .container .innerWhereLocation .whereImg img {
    width: 400px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }
  /* lieu location  end css */

  /* notre experience css*/
  .experinceInner .experince_icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .experinceInner .experince_icons .part_icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
    height: 200px;
    font-size: 14px;
  }
  /* notre experience css end*/

  /* formulaire de recherche css */
  .form_search .form_search_inner form .depart_part .time_depart input {
    padding: 8px 50px;
  }
  .form_search .form_search_inner form .route_part .time_depart input {
    padding: 8px 50px;
    background-color: #fff;
    border-radius: 6px;
  }
  .form_search .form_search_inner form img {
    display: none;
  }
  /* formulaire de recherche css end*/
}

@media (min-width: 1024px) {
  /* bout us css */
  .aboutUs_inner {
    gap: 40px;
  }
  .aboutUs_inner .right p {
    line-height: 1.7;
  }
  /* bout us end css */

  /* usServices css */
  .usServices_inner .usServices_card {
    width: 32.5%;
    display: grid;
    grid-template-columns: 35% 1fr;
    gap: 15px;
    align-items: center;
  }
  .usServices_inner .usServices_card .usServices_img img {
    width: 100%;
  }
  /* usServices end css */

  /* commitAgence css*/
  .commitAgence .container .commitAgence_inner .commitAgence_inner_img img {
    width: 100%;
    height: auto;
  }
  /* commitAgence css end*/

  /* notre MEILLEURS VENTES css */

  .best_still_inner .best_still_img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  /* notre MEILLEURS VENTES css end*/

  /* formulaire de recherche css */
  #imgSearch {
    display: block;
  }
  .form_search .form_search_inner form {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 30% 1fr;
    color: gray;
  }
  .form_search .form_search_inner form img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  .form_search .form_search_inner .submitButton input {
    padding: 10px 60px;
    background-color: black;
    color: #fff;
    border: 0;
    border-radius: 6px;
    position: absolute;
    left: 0;
    top: 150px;
  }
  /* formulaire de recherche css end*/
}

@media (min-width: 1280px) {
  /* bout us css */
  .aboutUs_inner .right p {
    line-height: 1.9;
  }
  /* bout us end css */

  /* usServices css */
  .usServices_inner .usServices_card {
    width: 32.5%;
    display: grid;
    grid-template-columns: 40% 1fr;
    gap: 15px;
    align-items: center;
  }
  .usServices_inner .usServices_card .usServices_img img {
    width: 100%;
  }
  .usServices_inner .usServices_card .usServices_text p {
    font-size: 1rem;
  }
  /* usServices end css */

  /* notre MEILLEURS VENTES css */

  .best_still_inner .best_still_img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
  }
  .best_still_inner .best_still_img .best_img {
    width: 100%;
  }

  /* notre MEILLEURS VENTES css end*/
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }

  /* bout us css */
  .aboutUs_inner .right p {
    line-height: 2;
  }
  .aboutUs_inner .left {
    height: 90%;
  }
  /* bout us end css */

  /* usServices css */
  .usServices_inner .usServices_card {
    align-items: center;
  }
  .usServices_inner .usServices_card .usServices_text p {
    font-size: 1.1rem;
  }
}

/*  Star Style Avantage */

.avantage-blog {
  display: flex;
  flex-direction: column;
}

.avantage-blog-inner {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.blog-texte {
  text-align: justify;
}

.photo {
  max-width: 400px;
  max-height: 400px;
}

.photo-service {
  max-width: 100%;
  width: 100%;
  max-height: 200px;
}

.photo-slider {
  max-width: 100%;
  max-height: 200px;
}
.blog-nos-services {
  margin-top: 60px;
}
.service-blog-inner {
  display: grid;
  gap: 20px;
  padding: 50px 0px 0px 0px;
}

.service_inner {
  border: 1px solid rgba(128, 128, 128, 0.438);
  padding: 30px 30px;
  align-items: center;
}

.service_inner:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  transition: 1.2s;
}

.service-texte {
  text-align: center;
  font-size: 12px;
}

.service-texte p:hover {
  color: gray;
}

.derniers-art-texte {
  text-align: center;
}

.blog-silder {
  display: grid;
}

.derniers-article {
  display: grid;
  padding: 150px 0px 0px 0px;
}
@media (min-width: 768px) {
  .blog-nos-services {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
  }
  .photo {
    max-width: 600px;
    max-height: 400px;
  }
  .service-blog-inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 50px 0px 0px 0px;
  }
  .service_inner {
    border: 1px solid rgba(128, 128, 128, 0.438);
    padding: 30px 30px;
    align-items: center;
  }
  .blog-silder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .avantage-blog-inner {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  .photo {
    max-width: 550px;
    max-height: 400px;
  }
  .blog-silder {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Page contact  */

.mymaps {
  width: 100%;
  height: 300px;
  background-color: rgba(0, 0, 255, 0.788);
}

.nous-contacter {
  display: grid;
  grid-template-columns: repeat(2, 40%);
  gap: 2%;
  margin-top: 40px;
}

.direct-contact {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 2px;
}

.direct-contact h3 {
  font-size: 30px;
  text-align: center;
}

.information {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}

#icon-contact {
  color: #ffb100;
}

.icon-reseau {
  display: flex;
  gap: 15px;
}

.blog-form {
  display: flex;
  flex-direction: column;
}

.blog-form div h3 {
  font-size: 30px;
  text-align: center;
}

.champ-group {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
}

.champ-group div {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.champ-group input {
  padding: 10px 20px;
  border-radius: 0.4rem;
  border: 1px solid #a7a2a2f3;
}

.champ-group textarea {
  padding: 10px 20px;
}

.obligation {
  color: red;
  font-size: 20px;
}

/* .btn {
  width: 100px;
  height: 50px;
  margin-top: 10px;
  color: white;
  background-color: black;
  cursor: pointer;
  border-radius: 0.4rem;
  border: 1px solid;
} */

@media (max-width: 885px) {
  .nous-contacter {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
  }
  .blog-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .direct-contact {
    display: none;
  }
  .champ-group {
    display: flex;
    flex-direction: column;
  }
  .champ-group div {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  .champ-group input {
    width: 100%;
    border-radius: 0.4rem;
    border: 1px solid #a7a2a2f3;
  }
  .champ-group textarea {
  }
}
