@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  font-family: "Montserrat", sans-serif;
  /* font-family: "Raleway", sans-serif; */
  font-weight: 500;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.blog-personnel .container .blog-texte {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog-personnel .container .blog-texte h2 {
  margin: 0;
  padding: 0;
  font-weight: bolder;
  color: peru;
}
.blog-personnel .container .blog-texte p {
  text-align: center;
}
.blog-personnel .container .personnel-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
@media (min-width: 640px) {
  .blog-personnel .container .personnel-group {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    /*    padding: 0px 0px 10px 70px; */
  }
}
@media (min-width: 768px) {
  .blog-personnel .container .personnel-group {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }
}
@media (min-width: 1024px) {
  .blog-personnel .container .personnel-group {
    display: grid;
    grid-template-columns: repeat(4, auto);
  }
}
.blog-personnel .container .personnel-group .personnel_inner {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0 1px rgba(136, 134, 134, 0.171);
  height: 100%;
  background-color: #e4e4e4;
  border-radius: 0.5rem;
  padding: 5px;
}
.blog-personnel .container .personnel-group .personnel_inner .profil_image {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 0px 10px 0px;
}
.blog-personnel .container .personnel-group .personnel_inner .profil_image .image-pers {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid peru;
}
.blog-personnel .container .personnel-group .personnel_inner .profil_name {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.blog-personnel .container .personnel-group .personnel_inner .profil_name h3 {
  font-weight: bolder;
}
.blog-personnel .container .personnel-group .personnel_inner .profil_name h5 {
  color: peru;
}
.blog-personnel .container .personnel-group .personnel_inner .profil_name p {
  font-size: 0.8em;
  text-align: center;
}
.blog-personnel .container .personnel-group .personnel_inner .profil_name .social_icon {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  align-items: center;
}
.blog-personnel .container .personnel-group .personnel_inner .profil_name .social_icon .icon {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  background-color: peru;
  color: white;
  font-size: 0.8rem;
}
.blog-personnel .container .personnel-group .personnel_inner .profil_name .social_icon .icon i {
  margin: 0 auto;
}
.blog-personnel .container .personnel-group .personnel_inner .profil_name button {
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: peru;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 5px;
  color: white;
}/*# sourceMappingURL=perso.css.map */